body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f3fd;
}
/* Navbar styling */
.navbar {
    width: 100%;
    background-color: #7438ff;
    color: white;
    padding: 22px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center; /* Centers the text inside the navbar */
}

.navbar h1 {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.resume-info { 
    margin-left: 120px;
    margin-top: 79px;
}

.resume-info h1 {
    font-size: 35px;
    font-weight: bold;
    color: #7438ff;
    margin-bottom: 20px;
}

.resume-info ul {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    color: #555;
}

.resume-info ul li {
    margin-bottom: 10px;
}

.resume-info .arrow {
    font-size: 30px;
    color: #333;
    padding: 0 10px;
}

/* Upload Section */
.upload-section {
    width: 25%;
    background-color: #ffffff;
    padding: 20px;
    margin-right: 200px;
    margin-top: 100px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
}

.upload-section h3 {
    margin-bottom: 15px;
    font-size: 25px;
    color: #7438ff;
}


.upload-section .drag-drop {
    width: 90%;
    height: 300px;
    padding: 20px;
    margin: 0 auto;
    border: 2px dashed #7657c0;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    color: #777;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.upload-section .drag-drop:hover {
    background-color: #eaeaea;
}

.upload-section input[type="file"] {
    display: none;
}

.upload-section .drag-drop span {
    font-size: 20px;
    font-weight: bold;
    color: #777;
    margin-top: 10px;
}

/* Adjusting space between sections */
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 20px;
} 


#extract-button {
    background-color: #7438ff;
    color: white; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Change cursor to pointer */
    display: none; /* Initially hidden */
    transition: background-color 0.3s ease; /* Add a smooth transition for hover */
}

#extract-button:hover {
    background-color: #6627f7;
}
