<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extracted Data</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <div class="navbar">
        <h1>Extracted Data</h1>
    </div>

    <div class="container"> 
        <div id="extracted-text">
            <pre>{{ extracted_data }}</pre> <!-- Display extracted data -->
        </div>

        <br> 
        <a href="/" style="color: #7438ff;  min-width: 90px;">
            Go Back
        </a>
        
    </div>
</body>
</html>
